.header {
  background-color: var(--main-background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--global-padding) var(--global-padding) 0;
  z-index: 1000;
  box-sizing: border-box;
}
.navbar {
  height: auto;
  display: flex;
  align-items: center;
}
.search {
  flex: 1;
  margin-right: 3px;
}
