.root {
  letter-spacing: 1px;
  background-color: var(--adm-color-background);
  padding-bottom: 42px;
  .navbar {
    .cat {
      flex: 1;
    }
  }
  .title {
    width: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    appearance: none;
    outline: none;
    border: none;
    font-size: 18px;
    line-height: normal;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: var(--adm-font-family);
    background-color: var(--adm-color-background);
    color: var(--adm-color-text);
  }
  .info {
    padding: 0 15px;
    font-size: 13px;
    margin: -8px 0 0px;
    color: var(--adm-color-background);
    ;
  }
  .content {
    min-height: calc(100vh - 42 * 2px - 48px - 48px);
  }
  .toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    overflow-x: visible;
    overflow-y: auto;
    white-space: nowrap;
    background-color: var(--adm-color-background);
  }
}


:global {
  .ql-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    overflow-x: visible;
    overflow-y: auto;
    white-space: nowrap;
    background-color: var(--adm-color-background);
    .ql-snow .ql-stroke {
      stroke: var(--adm-color-text);
    }
    .ql-snow .ql-fill {
      fill: var(--adm-color-text);
    }
  }
  .ql-container{
    font-size: inherit;
    background-color: var(--adm-color-background);
    font-size: 15px;
    line-height: normal;
    .ql-editor {
      min-height: calc(100vh - 42 * 2px - 48px - 48px);
    }
  }
  .ql-container.ql-snow {
    border: none;
  }
  .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    top: auto;
    bottom: -8px;
    display: flex;
    padding-right: 0;
    padding-left: 0;
    z-index: 5;
    border-color: var(--adm-color-background);
    .ql-picker-item {
      padding-left: 8px;
      padding-right: 8px;
      border-right: 1px solid var(--adm-color-background);
      color: var(--adm-color-text);
      background-color: var(--adm-color-background);
    }
  }
  .ql-snow .ql-picker.ql-header {
    width:50px;

    .ql-picker-label::before, .ql-picker-item::before {
      content:'P';
      font-size: 1em;
    }
    .ql-picker-label[data-value="1"]::before,  .ql-picker-item[data-value="1"]::before {
      content:'H1';
      font-size: 1em;
    }
    .ql-picker-label[data-value="2"]::before,  .ql-picker-item[data-value="2"]::before {
      content: 'H2';
      font-size: 1em;
    }
  }
}
